@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    /* background-color: yellow; */
}

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.m-b{
    margin-bottom: 94px;
}

.title{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}


header{
    width: 100%;
    height: 80px;
}

header .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header .header-content nav{
    display: flex;
    align-items: center;
    height: 100%;
}

header .header-content nav .nav-links{
    height: 100%;
    display: flex;
    list-style: none;
    margin-right: 305px;
}

header .header-content nav .nav-links li{
    margin-right: 50px;
    transition: 0.5s;
    border-bottom: 4px solid transparent;
}

header .header-content nav .nav-links li:hover{
    border-color: blue;
}

header .header-content nav .nav-links li:last-child{
    margin-right: 0;
}

header .header-content nav .nav-links li a{
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    transition: 0.5s;
}

header .header-content nav .navbar-close{
    display: none;
}

header .header-content nav .nav-mobile-sm{
    display: none;
}

header .header-content nav .nav-links li:hover a{
    color: #2196F3;
}

header .header-content nav .second-navlist{
    display: flex;
    list-style: none;
}

header .header-content nav .second-navlist li{
    margin-right: 31px;
}

header .header-content nav .second-navlist li:last-child{
    margin-right: 0;
}

header .header-content nav .second-navlist li a{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    transition: 0.5s;
}
header .header-content nav .second-navlist li:hover a{
    color: #2196F3;
}

header .header-content .navbar-toggle{
    display: none;
}

main .promo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url(../img/promo-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main .promo:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

main .promo .promo-content{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: relative;
    z-index: 9999;
}

main .promo .promo-content h1{
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

main .promo .promo-content button{
    width: 200px;
    height: 50px;
    background: #2196F3;
    border: none;
    border-radius: 4px;
    align-self: center;
    
}

main .promo .promo-content button a{
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

main .about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .about .about-card{
    width: 270px;
    min-height: 251px;
}

main .about .about-card .card-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

main .about .about-card h4{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}

main .about .about-card p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

main .skills .skills-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

main .skills .skills-content .skills-item{
    display: flex;
    align-items: flex-end;
    width: 370px;
    height: 294px;
    background: url(../img/desktop.jpg) center center/cover no-repeat;
    /* background-image: url(../img/desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
}

main .skills .skills-content .skills-item:nth-child(2){
    background-image: url(../img/mobile.jpg);
}

main .skills .skills-content .skills-item:nth-child(3){
    background-image: url(../img/design.jpg);
}

main .skills .skills-content .skills-item div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

main .team {
    width: 100%;
    padding: 94px 0;
    background-color:  #F5F4FA;
}

main .team .team-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .team .team-content .team-card{
    width: 270px;
    min-height: 428px;
    background-color:white;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

main .team .team-content .team-card .card-img{
    width: 100%;
    margin-bottom: 30px;
}

main .team .team-content .team-card .card-img img{
    width: 100%;
}

main .team .team-content .team-card h4{
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
}

main .team .team-content .team-card p{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
}

main .team .team-content .team-card .card-sm{
    display: flex;
    justify-content: space-between;
    width: 206px;
    height: 44px;
    margin: 0 auto;
}

main .team .team-content .team-card .card-sm a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    text-decoration: none;
    font-size: 20px;
    color: #AFB1B8;
    transition: 0.5s;
}

main .team .team-content .team-card .card-sm a:hover{
    background-color: #2196F3;
    color: white;
}

main .clients{
    width: 100%;
    padding: 94px 0;
}

main .clients .clients-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* height: 92px; */
}

main .clients .clients-wrapper .clients-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #2196F3;
    border-radius: 4px;
    filter: grayscale(1);
    transition: 0.5s;
}

/* main .clients .clients-wrapper .clients-item svg path{
    fill: red;
}

main .clients .clients-wrapper .clients-item:hover svg path{
    fill: blue;
} */

main .clients .clients-wrapper .clients-item:hover{
    filter: grayscale(0);
}

footer{
    width: 100%;
    background-color: #2F303A;
    padding: 60px 0;
}

footer .footer-content{
    display: flex;
    align-items: baseline;
    
}

footer .footer-content .footer-info{
    margin-right: 70px;
}

footer .footer-content .footer-info .footer-logo{
    margin-bottom: 20px;
}

footer .footer-content .footer-info address{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 9px;
}

footer .footer-content .footer-info .footer-contact p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

footer .footer-sm{
    margin-right: 93px;
}

footer .footer-sm h5{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

footer .footer-sm .footer-sm-content{
    display: flex;
    justify-content: space-between;
    width: 206px;
    height: 44px;
}

footer .footer-sm .footer-sm-content a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);;
    text-decoration: none;
    color: white;
    border-radius: 100%;
    font-size: 20px;
}

footer .footer-sm .footer-sm-content a:hover{
    background-color: #2196F3;;
}



footer .footer-form label{
    display: block;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

footer .footer-form input{
    width: 358px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 15px 16px;
    outline: none;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

footer .footer-form button{
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
}

@import url('media.css');